@charset "UTF-8";
/* RESET
----------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap");
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed,
fieldset, figcaption, figure, form, footer,
header, hgroup, h1, h2, h3, h4, h5, h6, html,
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby,
s, samp, section, main, small, span, strike, strong, sub, summary, sup,
tt, table, tbody, textarea, tfoot, thead, time, tr, th, td,
u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
}

/* 全体構成
---------------------------------------------------------------- */
html {
  font-size: 62.5%;
  /*ベースを10pxにしています*/
}

body {
  margin: 0 auto;
  padding: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
  color: #000;
  min-width: 320px;
  background-color: #f1f1f1;
  line-height: 160%;
  /*スマホ対応*/
  font-family: 'Kozuka Gothic Pr6N', serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  overflow-y: scroll;
  /*ローディングのガタツキ防止*/
}

html {
  height: 100%;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  line-height: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

a {
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Utilities
---------------------------------------------------------------- */
@media screen and (min-width: 1281px) {
  .u-sp {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .u-pc {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .u-sp2 {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .u-pc2 {
    display: none !important;
  }
}

.c-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .c-container {
    padding: 0 10px;
  }
}

.c-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#149ed1), color-stop(#374c95), to(#149ed1));
  background-image: -webkit-linear-gradient(left, #149ed1, #374c95, #149ed1);
  background-image: linear-gradient(to right, #149ed1, #374c95, #149ed1);
  color: #fff;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 0.35em;
}

@media screen and (max-width: 1280px) {
  .c-title {
    font-size: 24px;
    height: 70px;
  }
}

@media screen and (max-width: 768px) {
  .c-title {
    font-size: 18px;
    height: 50px;
  }
}

.c-text-title {
  font-size: 24px;
  text-align: center;
  line-height: 1.6;
  margin-top: 25px;
}

@media screen and (max-width: 1280px) {
  .c-text-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-text-title {
    font-size: 14px;
  }
}

.c-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 64px;
  background-color: #149ed1;
  font-size: 23px;
  color: #fff;
  letter-spacing: 0.15em;
  padding: 0 68px;
  border-radius: 35px;
}

@media screen and (max-width: 1280px) {
  .c-btn a {
    height: 50px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-btn a {
    font-size: 16px;
  }
}

.c-btn a:hover {
  opacity: 0.8;
}

.c-feature {
  margin-top: 120px;
}

@media screen and (max-width: 1280px) {
  .c-feature {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .c-feature {
    margin-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .c-feature.is-flow .c-feature__ttl {
    width: 60%;
    max-width: 280px;
  }
}

.c-feature.is-flow .c-feature__ttl img {
  max-width: 100%;
}

.c-feature__content {
  height: 300px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-feature__content {
    height: 160px;
  }
}

#pageTop {
  cursor: pointer;
  position: fixed;
  right: 165px;
  bottom: 30px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 768px) {
  #pageTop {
    right: 30px;
    bottom: 30px;
    width: 40px;
  }
}

#pageTop img {
  max-width: 100%;
}

#pageTop:hover {
  opacity: 0.8;
}

/* Header
---------------------------------------------------------------- */
.c-header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.c-header__bar {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 35px 10px 70px;
}

@media screen and (max-width: 1600px) {
  .c-header__bar {
    padding: 10px 35px 10px 30px;
  }
}

@media screen and (max-width: 1280px) {
  .c-header__bar {
    height: 100px;
    padding: 20px 0 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-header__bar {
    height: 70px;
  }
}

.c-header__logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 1281px) {
  .c-header__logo {
    width: 23%;
  }
}

@media screen and (max-width: 1280px) {
  .c-header__logo {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .c-header__logo {
    width: 240px;
  }
}

.c-header__logo img {
  max-width: 100%;
}

.c-header__logo:hover {
  opacity: 0.8;
}

.c-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

@media screen and (max-width: 1280px) {
  .c-header__inner {
    padding-top: 0;
  }
}

.c-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1281px) {
  .c-header__menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 1280px) {
  .c-header__menu {
    width: 100%;
    position: absolute;
    left: 0;
    display: none;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-header__menu {
    top: 70px;
    padding: 10px 25px 40px;
  }
}

@media screen and (max-width: 1280px) {
  .c-header__menu > li {
    border-bottom: 2px solid #010101;
  }
}

.c-header__menu > li > a {
  display: block;
  font-size: 18px;
  color: #010101;
  padding: 0 8px;
  letter-spacing: 0.15em;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 1800px) {
  .c-header__menu > li > a {
    font-size: 15px;
  }
}

@media screen and (max-width: 1480px) {
  .c-header__menu > li > a {
    font-size: 13px;
  }
}

@media screen and (max-width: 1280px) {
  .c-header__menu > li > a {
    font-size: 20px;
    font-weight: bold;
    padding: 24px 20px 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .c-header__menu > li > a:after {
    content: '';
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .c-header__menu > li > a {
    font-size: 15px;
    padding: 15px 15px 15px 0;
  }
}

.c-header__menu > li > a:hover {
  opacity: 0.8;
}

.c-header__tel {
  padding: 0 20px;
}

@media screen and (max-width: 1800px) {
  .c-header__tel {
    max-width: 250px;
  }
}

@media screen and (max-width: 1480px) {
  .c-header__tel {
    padding: 0 10px;
    max-width: 200px;
  }
}

.c-header__tel img {
  max-width: 100%;
}

.c-header__tel a:hover {
  opacity: 0.8;
}

.c-header__mail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ec6515;
  width: 245px;
  height: 50px;
  border-radius: 35px;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1800px) {
  .c-header__mail a {
    width: 200px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1480px) {
  .c-header__mail a {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
}

.c-header__mail a i {
  margin-right: 3px;
}

.c-header__mail a:hover {
  opacity: 0.8;
}

.c-header__append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-header__append--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  width: 100px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  .c-header__append--btn {
    display: none;
  }
}

.c-header__append--btn i {
  color: #fff;
}

.c-header__append--btn.is-tel {
  background-color: #081d64;
}

.c-header__append--btn.is-mail {
  background-color: #ec6515;
}

/* Toggle
---------------------------------------------------------------- */
.toggle {
  width: 100px;
  background: #fff;
  padding: 14px 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .toggle {
    width: 70px;
  }
}

.toggle__inner {
  width: 40px;
  height: 21px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .toggle__inner {
    width: 35px;
  }
}

.toggle__inner span {
  height: 3px;
  background: #0a2067;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media screen and (max-width: 768px) {
  .toggle__inner span {
    height: 2px;
  }
}

.toggle__inner span:nth-child(1) {
  top: 0;
}

.toggle__inner span:nth-child(2) {
  top: 9px;
}

.toggle__inner span:nth-child(3) {
  bottom: 0;
}

.toggle.is-active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
          transform: translateY(9px) rotate(-45deg);
}

.toggle.is-active span:nth-child(2) {
  opacity: 0;
}

.toggle.is-active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
          transform: translateY(-9px) rotate(45deg);
}

.toggle p {
  font-size: 14px;
  color: #0a2067;
  margin-top: 9px;
  line-height: 1;
  text-transform: uppercase;
}

/* KV
---------------------------------------------------------------- */
.c-kv__cont {
  padding-top: 120px;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/kv.jpg);
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .c-kv__cont {
    height: auto;
    padding: 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .c-kv__cont {
    background-image: url(../images/kv-sp.jpg);
    padding: 125px 0 135px;
  }
}

.c-kv__catch {
  padding-top: 115px;
  padding-left: 15px;
}

@media screen and (max-width: 1280px) {
  .c-kv__catch img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .c-kv__catch {
    padding-left: 0;
  }
}

/* Intro
---------------------------------------------------------------- */
.c-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

@media screen and (max-width: 1280px) {
  .c-intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .c-intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0 40px;
  }
}

@media screen and (max-width: 1480px) {
  .c-intro__img {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .c-intro__img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .c-intro__img {
    width: 100%;
  }
}

.c-intro__img img {
  max-width: 100%;
}

.c-intro__main {
  margin-left: 95px;
  margin-top: 90px;
}

@media screen and (max-width: 1480px) {
  .c-intro__main {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .c-intro__main {
    margin-top: 0;
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .c-intro__main {
    margin-left: 0;
    margin-top: 30px;
    padding: 0 20px;
  }
}

.c-intro__ttl {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .c-intro__ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-intro__ttl {
    font-size: 18px;
  }
}

.c-intro__txt {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .c-intro__txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .c-intro__txt {
    font-size: 13px;
  }
}

.c-intro__txt span.is-small {
  margin-top: 15px;
  display: block;
  font-size: 12px;
  line-height: 1.4;
}

@media screen and (max-width: 1280px) {
  .c-intro__txt span.is-small {
    font-size: 11px;
  }
}

.c-intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Planning
---------------------------------------------------------------- */
.c-planning {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .c-planning {
    margin-bottom: 30px;
  }
}

.c-planning__articles {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .c-planning__articles {
    margin-bottom: 30px;
  }
}

.c-planning__article {
  width: 32.08%;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
  margin-right: 1.88%;
  margin-bottom: 25px;
}

@media screen and (min-width: 769px) {
  .c-planning__article:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-planning__article {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .c-planning__article:nth-of-type(2n) {
    margin-right: 0;
  }
}

.c-planning__article--img img {
  max-width: 100%;
}

.c-planning__article--main {
  padding: 38px 15px 35px;
}

@media screen and (max-width: 768px) {
  .c-planning__article--main {
    padding: 20px 10px;
  }
}

.c-planning__article--ttl {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .c-planning__article--ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-planning__article--ttl {
    font-size: 16px;
  }
}

.c-planning__article--txt {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 25px;
}

@media screen and (max-width: 1280px) {
  .c-planning__article--txt {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .c-planning__article--txt {
    font-size: 13px;
  }
}

.c-planning__btn {
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Contact Us
---------------------------------------------------------------- */
.c-contact-us {
  background-color: #fff;
  margin-bottom: 80px;
}

@media screen and (max-width: 1280px) {
  .c-contact-us {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-contact-us {
    margin-bottom: 50px;
  }
}

.c-contact-us__container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 290px;
  position: relative;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .c-contact-us__container {
    height: auto;
  }
}

.c-contact-us__content {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;
  padding: 55px 0 35px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__content {
    max-width: 280px;
    padding: 60px 0 70px;
  }
}

.c-contact-us__txt {
  font-size: 28px;
  line-height: 1.8;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .c-contact-us__txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .c-contact-us__txt {
    font-size: 18px;
  }
}

.c-contact-us__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btns {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-contact-us__btn {
  width: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btn {
    width: 100%;
    height: 65px;
  }
}

.c-contact-us__btn:hover {
  opacity: 0.8;
}

.c-contact-us__btn.is-tel {
  background-color: #0e2467;
  padding-top: 18px;
  padding: 0 5px;
}

.c-contact-us__btn.is-tel img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btn.is-tel img {
    max-width: 240px;
  }
}

.c-contact-us__btn.is-tel span {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btn.is-tel span {
    font-size: 12px;
  }
}

.c-contact-us__btn.is-consultation {
  background-color: #ec6515;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btn.is-consultation {
    font-size: 18px;
  }
}

.c-contact-us__btn.is-min {
  height: 54px;
}

.c-contact-us__btn.is-min.is-tel {
  padding-top: 6px;
}

.c-contact-us__btn.is-min.is-tel img {
  max-width: 220px;
}

.c-contact-us__btn.is-min.is-tel span {
  font-size: 10px;
  line-height: 1.2;
}

.c-contact-us__btn.is-min.is-consultation {
  font-size: 17px;
}

.c-contact-us__btn + .c-contact-us__btn {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .c-contact-us__btn + .c-contact-us__btn {
    margin-left: 0;
    margin-top: 15px;
  }
}

.c-contact-us__map, .c-contact-us__man {
  position: absolute;
  z-index: -1;
}

.c-contact-us__map {
  top: 5px;
  left: 0;
}

@media screen and (max-width: 768px) {
  .c-contact-us__map {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .c-contact-us__map img {
    max-width: 100%;
  }
}

.c-contact-us__man {
  right: 40px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .c-contact-us__man {
    width: 30%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-contact-us__man img {
    max-width: 100%;
  }
}

/* Service
---------------------------------------------------------------- */
.c-service {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .c-service {
    margin-bottom: 40px;
  }
}

.c-service__articles {
  margin-top: 35px;
  margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .c-service__articles {
    margin: 20px 0 50px;
  }
}

.c-service__article {
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .c-service__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .c-service__article--img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .c-service__article--img {
    width: 100%;
  }
}

.c-service__article--img img {
  max-width: 100%;
}

.c-service__article--main {
  margin-left: 60px;
  padding-top: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1024px) {
  .c-service__article--main {
    width: 50%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .c-service__article--main {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

.c-service__article--main.has-btn {
  padding-bottom: 70px;
}

.c-service__article--ttl {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.25em;
  padding-bottom: 10px;
  border-bottom: 3px solid #374c95;
}

@media screen and (max-width: 1024px) {
  .c-service__article--ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-service__article--ttl {
    font-size: 18px;
  }
}

.c-service__article--txt {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .c-service__article--txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .c-service__article--txt {
    font-size: 12px;
    padding-top: 10px;
  }
}

.c-service__article--btn {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.c-service__article--btn a {
  padding: 0 40px;
}

.c-service__article--list {
  max-width: 440px;
  margin: 25px auto 0;
  background-color: #def6ff;
  padding: 10px 0 10px 35px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .c-service__article--list {
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .c-service__article--list {
    font-size: 11px;
  }
}

/* Area
---------------------------------------------------------------- */
.c-area {
  padding: 0 20px;
}

.c-area__content {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  border: 12px solid #355198;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 15px 10px 25px;
}

@media screen and (max-width: 768px) {
  .c-area__content {
    padding: 25px 15px;
    border: 8px solid #355198;
  }
}

.c-area__ttl {
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
  .c-area__ttl {
    font-size: 18px;
  }
}

.c-area__ttl i {
  color: #355198;
  font-size: 38px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .c-area__ttl i {
    font-size: 24px;
  }
}

.c-area__ttl:after {
  content: '';
  display: block;
  width: 216px;
  height: 3px;
  margin: 5px auto 0;
  background-color: #374c95;
}

@media screen and (max-width: 768px) {
  .c-area__ttl:after {
    width: 180px;
    height: 2px;
  }
}

.c-area__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
}

@media screen and (max-width: 768px) {
  .c-area__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.c-area__list {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .c-area__list {
    width: 100%;
  }
}

.c-area__list--item + .c-area__list--item {
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .c-area__list--item + .c-area__list--item {
    margin-top: 20px;
  }
}

.c-area__list--name {
  font-size: 20px;
  padding: 4px 20px;
  border-left: 8px solid #149ed1;
}

@media screen and (max-width: 1024px) {
  .c-area__list--name {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .c-area__list--name {
    font-size: 14px;
  }
}

.c-area__list--detail {
  font-size: 11px;
  padding-top: 15px;
  letter-spacing: 0.10em;
  line-height: 1.8;
}

@media screen and (max-width: 1024px) {
  .c-area__list--detail {
    font-size: 10px;
    padding-top: 5px;
  }
}

.c-area__map {
  margin-left: 15px;
  padding-top: 15px;
}

.c-area__map img {
  max-width: 100%;
}

@media screen and (max-width: 1280px) {
  .c-area__map {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .c-area__map {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin: 20px 0;
  }
}

/* Result
---------------------------------------------------------------- */
.c-result {
  margin-bottom: 55px;
}

@media screen and (max-width: 768px) {
  .c-result {
    margin-bottom: 30px;
  }
}

.c-result__articles {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .c-result__articles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .c-result__articles {
    margin-top: 40px;
  }
}

.c-result__article {
  width: 25%;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1024px) {
  .c-result__article {
    width: 49%;
    margin-bottom: 2%;
  }
  .c-result__article:nth-of-type(2n) {
    margin-left: 2%;
  }
}

@media screen and (min-width: 1025px) {
  .c-result__article + .c-result__article {
    margin-left: 20px;
  }
}

.c-result__article--img img {
  width: 100%;
}

.c-result__article--main {
  padding: 20px 20px 15px;
}

@media screen and (max-width: 768px) {
  .c-result__article--main {
    padding: 20px 10px;
  }
}

.c-result__article--ttl {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1.4;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .c-result__article--ttl {
    font-size: 16px;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 768px) {
  .c-result__article--ttl {
    font-size: 14px;
  }
}

.c-result__article--txt {
  font-size: 18px;
  margin-top: 25px;
  line-height: 1.7;
  letter-spacing: 0.12em;
}

@media screen and (max-width: 1280px) {
  .c-result__article--txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .c-result__article--txt {
    font-size: 12px;
    margin-top: 15px;
  }
}

.c-result__article--sign {
  padding-top: 10px;
  text-align: right;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.25em;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .c-result__article--sign {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .c-result__article--sign {
    font-size: 11px;
    letter-spacing: normal;
  }
}

/* Brand
---------------------------------------------------------------- */
.c-brand {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .c-brand {
    margin-bottom: 40px;
  }
}

.c-brand__content {
  background-color: #fff;
  padding: 65px 35px 75px;
}

@media screen and (max-width: 768px) {
  .c-brand__content {
    padding: 40px 10px 30px;
  }
}

.c-brand__ttl {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .c-brand__ttl {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .c-brand__ttl {
    font-size: 16px;
  }
}

.c-brand__main {
  padding: 90px 50px 0;
}

@media screen and (max-width: 1024px) {
  .c-brand__main {
    padding: 70px 40px 0;
  }
}

@media screen and (max-width: 768px) {
  .c-brand__main {
    padding: 40px 10px 0;
  }
}

.c-brand__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .c-brand__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-brand__items + .c-brand__items {
  margin-top: 90px;
}

@media screen and (max-width: 1024px) {
  .c-brand__items + .c-brand__items {
    margin-top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .c-brand__item {
    width: calc(100% /3);
    margin-bottom: 30px;
  }
}

.c-brand__item img {
  max-width: 100%;
}

.c-brand__item:hover {
  opacity: 0.8;
}

/* Footer
---------------------------------------------------------------- */
.c-footer {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  height: 476px;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .c-footer {
    height: auto;
  }
}

.c-footer__content {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 0 25px;
}

.c-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-footer__logo img {
    max-width: 100px;
  }
}

.c-footer__logo a:hover {
  opacity: 0.8;
}

.c-footer__address {
  padding: 35px 0 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 768px) {
  .c-footer__address {
    padding: 25px 0 10px;
    font-size: 13px;
  }
}

.c-footer__policy {
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: 768px) {
  .c-footer__policy {
    font-size: 12px;
    padding: 10px 0;
  }
}

.copyright {
  text-align: center;
  font-size: 11px;
  color: #fff;
}

/* Flow
---------------------------------------------------------------- */
.c-flow__intro {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  .c-flow__intro {
    padding: 40px 0;
  }
}

.c-flow__intro--ttl {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 768px) {
  .c-flow__intro--ttl {
    font-size: 18px;
  }
}

.c-flow__intro--txt {
  padding-top: 35px;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 768px) {
  .c-flow__intro--txt {
    padding-top: 20px;
    font-size: 14px;
  }
}

.c-flow-step {
  margin-bottom: 145px;
}

@media screen and (max-width: 768px) {
  .c-flow-step {
    margin-bottom: 70px;
  }
}

.c-flow-step__items {
  margin: 24px 0 110px;
}

@media screen and (max-width: 768px) {
  .c-flow-step__items {
    margin: 20px auto 60px;
    max-width: 440px;
  }
}

.c-flow-step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .c-flow-step__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-flow-step__item + .c-flow-step__item {
  margin-top: 59px;
}

@media screen and (max-width: 768px) {
  .c-flow-step__item + .c-flow-step__item {
    margin-top: 40px;
  }
}

.c-flow-step__item--img {
  width: 32.08%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--img {
    width: 100%;
  }
}

.c-flow-step__item--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-flow-step__item--step {
  position: absolute;
  top: 0;
  left: 0;
  width: 155px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(60, 85, 178, 0.8);
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1024px) {
  .c-flow-step__item--step {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--step {
    font-size: 16px;
    width: 120px;
    height: 34px;
  }
}

.c-flow-step__item--step span.num {
  font-size: 32px;
}

@media screen and (max-width: 1024px) {
  .c-flow-step__item--step span.num {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--step span.num {
    font-size: 20px;
  }
}

.c-flow-step__item--main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px 30px 20px 50px;
}

@media screen and (max-width: 1024px) {
  .c-flow-step__item--main {
    padding: 35px 30px;
  }
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--main {
    padding: 25px 15px;
  }
}

.c-flow-step__item--ttl {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 1024px) {
  .c-flow-step__item--ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--ttl {
    font-size: 18px;
  }
}

.c-flow-step__item--txt {
  padding-top: 25px;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.12em;
}

@media screen and (max-width: 1024px) {
  .c-flow-step__item--txt {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .c-flow-step__item--txt {
    font-size: 14px;
    padding-top: 15px;
  }
}

.c-voice {
  margin-bottom: 130px;
}

@media screen and (max-width: 768px) {
  .c-voice {
    margin-bottom: 50px;
  }
}

.c-voice__articles {
  width: 100%;
  max-width: 1514px;
  margin: 30px auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .c-voice__articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 440px;
  }
}

.c-voice__article {
  width: calc(100% / 3);
  background-color: #fff;
  padding: 35px 20px;
}

@media screen and (max-width: 768px) {
  .c-voice__article {
    width: 100%;
    padding: 25px 15px;
  }
}

.c-voice__article + .c-voice__article {
  margin-left: 40px;
}

@media screen and (max-width: 768px) {
  .c-voice__article + .c-voice__article {
    margin-left: 0;
    margin-top: 30px;
  }
}

.c-voice__article--img {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-voice__article--img img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .c-voice__article--img img {
    max-width: 70%;
  }
}

.c-voice__article--main {
  margin-top: 40px;
}

.c-voice__article--txt {
  font-size: 18px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .c-voice__article--txt {
    font-size: 14px;
  }
}

.c-voice__article--sign {
  font-weight: 500;
  padding-top: 15px;
  padding-right: 15px;
  text-align: right;
  font-size: 16px;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
  .c-voice__article--sign {
    font-size: 12px;
  }
}

/* Company
---------------------------------------------------------------- */
.c-company {
  margin: 82px 0 75px;
}

@media screen and (max-width: 768px) {
  .c-company {
    margin: 40px 0;
  }
}

.c-company__content {
  background-color: #fff;
  padding: 70px 20px 110px;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .c-company__content {
    padding: 30px 20px 40px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
  }
}

.c-company__table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.c-company__table table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #dedede;
}

.c-company__table table tr {
  border-bottom: 1px solid #dedede;
}

.c-company__table table tr td {
  font-size: 16px;
  line-height: 1.6;
  padding: 36px 10px;
}

@media screen and (max-width: 768px) {
  .c-company__table table tr td {
    font-size: 14px;
    padding: 20px 10px;
  }
}

.c-company__table table tr td:first-of-type {
  width: 210px;
  text-align: center;
  background-color: #ecf7ff;
}

@media screen and (max-width: 768px) {
  .c-company__table table tr td:first-of-type {
    width: 120px;
  }
}

.c-company__table table tr td:nth-of-type(2) {
  padding-left: 80px;
}

@media screen and (max-width: 768px) {
  .c-company__table table tr td:nth-of-type(2) {
    padding-left: 20px;
  }
}

/* Contact
---------------------------------------------------------------- */
.c-contact__head {
  padding: 70px 0 30px;
}

@media screen and (max-width: 768px) {
  .c-contact__head {
    padding: 30px 0 20px;
  }
}

.c-contact__ttl {
  text-align: center;
  font-size: 24px;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .c-contact__ttl {
    font-size: 18px;
  }
}

.c-contact__txt {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .c-contact__txt {
    padding-top: 10px;
  }
}

.c-contact__txt p {
  width: 500px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .c-contact__txt p {
    font-size: 11px;
    width: auto;
  }
}

.c-contact__main {
  width: 100%;
  max-width: 800px;
  margin: 35px auto 70px;
  padding: 30px 40px 45px;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 0 8px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .c-contact__main {
    max-width: 440px;
    margin: 25px auto 50px;
    padding: 30px 20px 35px;
  }
}

.c-contact__block {
  padding-bottom: 14px;
}

.c-contact__block--lb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-contact__block--lb .required {
  width: 54px;
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: rgba(236, 101, 21, 0.8);
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .c-contact__block--lb .required {
    width: 46px;
    line-height: 20px;
    font-size: 13px;
  }
}

.c-contact__block--lb .required.is-blue {
  background-color: rgba(20, 158, 209, 0.8);
}

.c-contact__block--lb .label {
  margin-left: 8px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-contact__block--lb .label {
    font-size: 14px;
  }
}

.c-contact__block--main {
  padding: 20px 0;
}

@media screen and (max-width: 768px) {
  .c-contact__block--main {
    padding: 10px 0;
  }
}

.c-contact__block--checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .c-contact__block--checkbox {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.c-contact__block--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.c-contact__block--checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border: 1px solid #b1b1b1;
  border-radius: 1px;
}

.c-contact__block--checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-contact__block--checkbox:hover input ~ .checkmark {
  background-color: #fff;
}

.c-contact__block--checkbox input:checked ~ .checkmark {
  background-color: #0e2467;
}

.c-contact__block--checkbox input:checked ~ .checkmark:after {
  display: block;
}

.c-contact__block--input {
  margin: 15px 0 27px;
}

@media screen and (max-width: 768px) {
  .c-contact__block--input {
    margin: 5px 0 20px;
  }
}

.c-contact__block--input.is-textarea {
  margin: 5px 0 27px;
}

.c-contact__block--input input {
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
}

@media screen and (max-width: 768px) {
  .c-contact__block--input input {
    font-size: 14px;
  }
}

.c-contact__block--input textarea {
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 5px 0;
  height: 172px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .c-contact__block--input textarea {
    font-size: 14px;
    height: 150px;
  }
}

.c-contact__block--input ::-webkit-input-placeholder {
  color: #e6e6e5;
  opacity: 1;
}

.c-contact__block--input :-ms-input-placeholder {
  color: #e6e6e5;
  opacity: 1;
}

.c-contact__block--input ::-ms-input-placeholder {
  color: #e6e6e5;
  opacity: 1;
}

.c-contact__block--input ::placeholder {
  color: #e6e6e5;
  opacity: 1;
}

.c-contact__block--input :-ms-input-placeholder {
  color: #e6e6e5;
}

.c-contact__block--input ::-ms-input-placeholder {
  color: #e6e6e5;
}

.c-contact__block--privacy {
  height: 200px;
  padding: 30px;
  overflow-y: auto;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .c-contact__block--privacy {
    height: 150px;
    font-size: 12px;
    padding: 15px;
  }
}

.c-contact__block--agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact__block--agree .c-contact__block--checkbox {
  font-size: 13px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .c-contact__block--agree .c-contact__block--checkbox {
    font-size: 11px;
  }
}

.c-contact__block--submit {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact__block--submit a {
  padding: 0 35px;
}
