/* 
RESET - ADAPTED FROM MEYER RESET
URL - http://meyerweb.com/eric/tools/css/reset/
LICENSE - PUBLIC DOMAIN
*/

/* RESET
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
main,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/scripts/boxsizing.htc);
}

@font-face {
    font-family: HiraginoW8;
    src: url(../fonts/HiraginoW8.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Noto+Serif:wght@400;700&display=swap');

/* 全体構成
  ---------------------------------------------------------------- */
html {
    font-size: 62.5%;
    /*ベースを10pxにしています*/
}

body {
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: 100%;
    font-size: 14px;
    color: #000;
    min-width: 320px;
    line-height: 1.6;
    /*スマホ対応*/
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-y: scroll;
    /*ローディングのガタツキ防止*/

}

#top {}

html {
    height: 100%;
}

img {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    line-height: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

a {
    outline: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

//   Component

.c-container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 20px;
}
.c-lb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 236px;
    height: 50px;
    background-color: #1853a0;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
    @media screen and (max-width: 768px) {
        font-size: 20px;
        height: 40px;   
        width: 100%;
    }
}

.c-ttl {
    font-size: 32px;
    font-weight: bold;
    margin-top: 24px;
    line-height: 1.7;
    @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
    }
}

.c-txt {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
        font-size: 14px;   
        margin-top: 15px;
    }
}

.c-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    @media screen and (max-width: 768px) {
        padding: 10px 20px;           
    }
    &__logo {
        font-size: 38px;
        font-weight: bold;
        color: #fff;
        @media screen and (max-width: 1024px) {
            font-size: 30px;       
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;       
        }
        &:hover {
            opacity: 0.85;
        }
    }
    &__line {
        width: 278px;
        height: 56px;
        background-color: #01bb02;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        @media screen and (max-width: 768px) {
            width: 44px;
            height: 44px;       
            border-radius: 5px;
        }
        &:hover {
            opacity: 0.85;
        }
        span {
            color: #fff;
            font-size: 19px;
            font-weight: bold;
            margin-left: 4px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        img {
            max-width: 30px;
            @media screen and (max-width: 768px) {
                max-width: 26px;
            }
        }
    }
}

.c-mv {
    background-color: #1853a0;
    padding: 58px 20px 0;
    &__container {
        width: 100%;
        max-width: 1380px;
        margin: 0 auto;
        position: relative;
    }
    &__img {
        position: relative;
        right: -24px;
        img {
            max-width: 100%;
        }
    }
    &__ttl {
        position: absolute;
        bottom: 19%;
        color: #fff;
        font-size: clamp(14px, 3.1vw, 60px);
        font-weight: 900;
        z-index: 10;
        padding-left: 20px;
        letter-spacing: 0.05em;
        @media screen and (max-width: 768px) {
            bottom: 15%;       
        }
    }
}

.c-intro {
    padding: 90px 0 40px;
    @media screen and (max-width: 768px) {
        padding: 30px 0;           
    }
    &__txt {
        display: flex;
        justify-content: center;
        padding: 0 20px;
        p {
            max-width: 800px;
            font-size: 18px;
            line-height: 1.9;
            font-family: 'Hiragino Kaku Gothic Pro', serif;
            @media screen and (max-width: 768px) {
                font-size: 14px;   
            }
        }
    }
    &__boxes {
        margin-top: 100px;
        @media screen and (max-width: 768px) {
         margin-top: 40px;       
        }
    }
    &__box {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 1024px) {
            flex-direction: column;            
            justify-content: center;
            align-items: center;    
        }
        
        &:nth-of-type(even) {
            flex-direction: row-reverse;
            @media screen and (max-width: 1024px) {
                flex-direction: column;                
            }
            .c-intro__box--main {
                display: flex;
                justify-content: flex-end;
            }
        }
        & + & {
            margin-top: 115px;
            @media screen and (max-width: 768px) {
                margin-top: 55px;   
            }
        }
        &--img {
            width: 56.1%;
            @media screen and (max-width: 1024px) {
                width: 100%;                
            }
            
            img {
                width: 100%;
            }
        }
        &--main {
            flex: 1;
            margin: 0 20px;
        }
        &--wrap {
            padding-top: 30px;
            max-width: 550px;
            @media screen and (max-width: 768px) {
                max-width: 440px;   
            }
        }
    }
}

.sec-service {
    background-image: url('../images/bg-service.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.c-service {
    padding: 180px 0 55px;
    @media screen and (max-width: 768px) {
        padding: 100px 0 30px;
    }
    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 800px;
        @media screen and (max-width: 768px) {
            max-width: 440px;
        }
    }
    &__articles {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, max-content));
        justify-content: center;
        margin: 55px 0 55px;
        gap: 60px 20px;
        @media screen and (max-width: 768px) {
            margin: 30px 0 25px;
            gap: 30px;
            grid-template-columns: auto;
        }
    }
    &__article {
        width: 330px;
        background-color: #fff;
        box-shadow: 2px 6px 10px 5px rgba(221, 221, 221, 0.3);
        @media screen and (max-width: 768px) {
            width: 280px;
        }
        &--head {
            height: 105px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            background-image: url(../images/bg-service-head.jpg);
            background-size: cover;
            @media screen and (max-width: 768px) {
                height: 64px;
                font-size: 12px;
            }
        }
        &--main {
            font-size: 14px;
            padding: 16px 24px;
            line-height: 1.8;
            @media screen and (max-width: 768px) {
                font-size: 11px;
                padding: 10px 16px;
            }
        }
    }
    
    &__box {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-color: #ebf4ff;
        border: 1px solid #1853a0;
        padding: 55px;
        border-radius: 20px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 20px;
        }
        &--ttl {
            font-size: 18px;
            font-weight: 500;
            padding-right: 55px;
            @media screen and (max-width: 768px) {
                padding-right: 0;
                padding-bottom: 10px;
                font-size: 16px;
            }
        }
        &--txt {
            flex: 1;
            font-size: 16px;
            font-weight: 500;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}


.c-line {
    background-color: #1853a0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrap {
        display: flex;
        width: 100%;
        max-width: 1315px;
        padding: 60px 130px 70px 6%;
        position: relative;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 20px 80px;
        }
    }
    &__txt {
        &--01 {
            font-size: 32px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 0.02em;
            padding-bottom: 5px;
            border-bottom: 2px solid #fff;
            text-align: center;
            @media screen and (max-width: 1280px) {
                font-size: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        &--02 {
            font-size: 24px;
            font-weight: bold;
            color: #ffe400;
            text-align: center;
            margin-top: 10px;
            @media screen and (max-width: 1280px) {
                font-size: 18px;
            }
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
    &__main {
        display: flex;
        margin-top: 20px;
        @media screen and (min-width: 1025px) {
            flex: 1;
            margin-left: 8%;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
            justify-content: center;
        }
    }
    &__btn {
        width: 100%;
        max-width: 495px;
        height: 110px;
        background-color: #01bb02;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-image: url(../images/ic-btn.png);
        background-repeat: no-repeat;
        background-position: center right 10px;
        padding: 0 20px;
        @media screen and (max-width: 1280px) {
            max-width: 380px;
            height: 90px;
        }
        @media screen and (max-width: 768px) {
            max-width: 300px;
            height: 70px;
            background-size: 10px auto;
        }
        img {
            @media screen and (max-width: 1280px) {
                max-width: 36px;
            }
            @media screen and (max-width: 768px) {
                max-width: 30px;
            }
        }
        span {
            margin-left: 12px;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: 0.05em;
            color: #fff;
            @media screen and (max-width: 1280px) {
                font-size: 28px;
            }
            @media screen and (max-width: 768px) {
                font-size: 22px;
            }
        
        }
    }
    &__boy {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
            @media screen and (max-width: 1024px) {
                max-width: 100px;
            }
            @media screen and (max-width: 768px) {
                max-width: 80px;
            }
        }
    }
}
.c-about {
    margin-top: 105px;
    &__flex {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1024px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
    &__main {
        padding: 30px 48px;
        @media screen and (max-width: 768px) {
            padding: 20px;
            max-width: 480px;
        }
        &--wrap {
            max-width: 685px;
        }
    }
    &__img {
        width: 47.8%;
        max-width: 916px;
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    &__txt {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        padding: 0 20px;
        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
        p {
            max-width: 890px;
            font-size: 16px;
            line-height: 1.7;
            @media screen and (max-width: 768px) {
                max-width: 400px;
                font-size: 12px;
                padding: 0 10px;
            }
        }
    }
}
.sec-feature {
    margin-top: 150px;
    @media screen and (max-width: 768px) {
        margin-top: 75px;
    }
}
.c-feature {
    @media screen and (min-width: 1025px) {
        display: flex;
        justify-content: flex-end;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__head {
        flex: 1;
        @media screen and (max-width: 1024px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 480px;
        }
        .c-ttl {
            word-break: keep-all;
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
    }
    &__main {
        @media screen and (min-width: 1025px) {
            width: 84%;
            max-width: 1190px;
            padding-right: 5%;
            margin-left: -80px;
        }
    }
    &__articles {
        display: flex;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            gap: 30px;
        }
        &+& {
            margin-top: 80px;
            @media screen and (max-width: 768px) {
                margin-top: 30px;
            }
        }
    }
    &__article {
        flex:0 0 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1280px) {
            flex:0 0 280px;
        }
        @media screen and (max-width: 1024px) {
            flex:0 0 260px;
        }
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        &--img {
            @media screen and (max-width: 1280px) {
                padding: 0 20px;
            }
            img {
                max-width: 100%;
                @media screen and (max-width: 1280px) {
                    width: 100%;
                }
                @media screen and (max-width: 768px) {
                    max-width: 160px;
                }
            }
        }
        &--txt {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            margin-top: 15px;
            @media screen and (max-width: 1280px) {
                font-size: 14px;
            }
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}

.sec-study {
    padding: 275px 0 160px;
    overflow: hidden;
    background-image: url(../images/bg-study.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    @media screen and (max-width: 768px) {
        padding: 100px 0 80px;
    }
}
.c-study {
    position: relative;
    height: 562px;
    @media screen and (max-width: 768px) {
        height: auto;
    }
    &__head {
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 480px;
            margin: 0 auto 20px;
        }
        .c-ttl {
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
    }
    &__slider {
        @media screen and (min-width: 769px) {
            position: absolute;
            top: 0;
            width: 100vw;
            left: 335px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 360px;
            margin: 0 auto;
        }
        &--item {
            padding-right: 30px;
            padding-bottom: 5px;
            @media screen and (max-width: 768px) {
                padding-right: 0;
            }
        }
        &--inner {
            width: 470px;
            background-color: #fff;
            box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
            @media screen and (max-width: 1024px) {
                width: 360px;
            }
            @media screen and (max-width: 768px) {
                width: auto;
            }
        }
        &--img {
            img {
                width: 100%;
            }
        }
        &--main {
            padding: 28px 20px 44px;
            @media screen and (max-width: 768px) {
                padding: 20px 10px 30px;
            }
        }
        &--ttl {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }
        &--txt {
            margin-top: 20px;
            font-size: 16px;
            @media screen and (max-width: 768px) {
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
}

.sec-team {
    padding: 97px 0 86px;
    @media screen and (max-width: 768px) {
        padding: 40px 0 30px;
    }
}
.c-team {
    background-color: #c7ebff;
    padding: 110px 20px;
    @media screen and (max-width: 768px) {
        padding: 40px 15px;
    }
    .c-ttl {
        text-align: center;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
    }
    &__txt {
        background-color: #fff;
        padding: 32px 60px;
        margin-top: 30px;
        @media screen and (max-width: 768px) {
            padding: 15px 20px;
            margin-top: 15px;
        }
        p {
            font-size: 18px;
            line-height: 1.75;
            @media screen and (max-width: 768px) {
                font-size: 13px;
            }
        }
    }
}

.sec-list {
    background-image: url(../images/bg-line.png);
    padding: 90px 0;
}
.c-list {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 30px;
    &__wrap  {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}